*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

nav {
    width: 100%;
    position: fixed;
}

.menu {
    width: 100%;
    background-color: white;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-left: 1%;
}

.menu ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.left li:hover{
    border-bottom: 2px solid black;
}

.right li:hover{
    border-bottom: 2px solid black;
}

.button {
    background-color: #0061FF;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

main {
    padding-top: 7%;
    background-color: #B4D0E7;
}

.container {
    margin: 0 auto;
    width: 80%;
    color: black;
}

.container h1 {
    font-size: 4rem;
    line-height: 150%;
}

.container p {
    margin: 2% 0px 2% 0px;
    line-height: 150%;   
}

.left-text {
    width: 25%;
    float: left;
}

.img-dx {
    width: 70%;
    float: right;
}

.left-text > p,a {
    padding: 8% 0px;
}

.layout-img {
    width: 100%;
    float: right;
    margin-top: 3%;  
}

