*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    height: 62px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    line-height: 100%;
    vertical-align: middle;
}
nav ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: middle;
}
.float-right li.hover {
    padding-top: 23px;
}
#logo {
    width: 90%;
}
#button {
    background-color: #0061FF;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
.hover:hover{
    border-bottom: 2px solid black;
}
.hover:hover .dropdown-content {
    display: block;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
    width: 200px;
    bottom: -247%;
    left: 0;
    background-color: lightgrey;
    padding: 10%;
}
.dropdown-content a {
    display: block;
    margin-bottom: 10%;
    text-decoration: none;
}
.button {
    background-color: #0061FF;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
.bg-lightblue {
    padding-top: 5%;
    background-color: #B4D0E7;
}
.container {
    margin: 0 auto;
    width: 80%;
    color: black;
    position: relative;
    bottom: -90px;
}
.container h1 {
    font-size: 4rem;
    line-height: 150%;
}
.container p {
    margin: 2% 0px 2% 0px;
    line-height: 150%;   
}
.left-text {
    width: 25%;
}
.img-dx {
    width: 70%;
}
.left-text > p,a {
    padding: 8% 0px;
}
.layout-img {
    width: 100%;
    margin-top: 3%;  
}
#arrow{
    font-size: 3rem;
    color: black;
    text-decoration: none;
}
.container2 {
    width: 70%;
    margin: 10% auto 5% auto;
}
h2 {
    font-size: 3rem;
    margin: 5% 0;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.3rem;
    display: inline-block;
}
input[type="radio"] {
    margin-bottom: 3%;
}
.fatturazione {
    margin-right: 1%;
}
.container3 {
    width: 100%;
    height: 1200px;
}
.coloumn1 {
    width: calc((100% / 3) - 2%);
    margin-right: 1%;
    min-height: 1200px;
    border: 1px solid #c4c4c4;
}
.coloumn2{
    width: calc((100% / 3) - 2%);
    margin: 0 2%;
    min-height: 1200px;
    border: 1px solid #c4c4c4;
}
.coloumn3{
    width: calc((100% / 3) - 2%);
    margin-left: 1%;
    min-height: 1200px;
    border: 1px solid #c4c4c4;
}
.quantity {
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    padding: 2%;
}
.row {
    width: 80%;
    margin: 0 auto;
}
.row1 {
    padding-top: 10%;
}
.row2 {
    padding: 3% 0px;
}
.row3 {
    width: 90%;
    margin: 0 auto;
}
.free-trial {
    text-align: center;
    background-color: #0061FF;
    padding: 4%;
    margin-top: 8%;
    margin-bottom: 8%;
}
.acquista{
    color: #0061FF;
    padding-bottom: 30%;
}
.free-trial a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.rule {
    height: 1px;
    width: 20%;
    background-color: #c4c4c4;
    margin: 10% 0px;
}
.row ul {
    list-style: none;
}
.row ul li:before {
    content: "\2714";
    color: #0061FF;
    font-weight: bold;
    margin-right: 2%;
}
.row ul li {
    margin: 10% 0px;
}
.row ul li {
    margin: 10% 0px;
}
.paragrafo2 {
    margin-top: 5%;
    width: 100%;
    border: 1px solid #c4c4c4;
    margin-bottom: 15%;
}
.row3 > h4,p {
    margin-bottom: 4%;
}
.quantity2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    padding: 1%;
}
.button2 {
    background-color: #0061FF;
    color: white;
    text-decoration: none;
    padding: 1% 5%;
}
.partner-dropbox {
    width: 50%;
    margin-right: 5%;
}
.right-text-p3{
    padding-top: 5%;
}
.right-text-p3 p {
    line-height: 150%;
    font-size: 1.1rem;
    margin-top: 3%;
    margin-bottom: 3%;
}
.right-text-p3 a {
    margin-top: 3%;
    border: 2px solid black;
    padding: 1% 2%;
    text-decoration: none;
    color: black;
}
.table {
    width: 100%;
    margin-top: 20%;
}
.table-row {
    margin-bottom: 15%;
}
.table-coloumn {
    width: calc(100% / 3 - 2%);
    margin-right: 1%;
    height: 500px;  
}
.table-coloumn2 {
    width: calc(100% / 3 - 2%);
    margin: 0 2%;
    height: 500px;  
}
.table-coloumn3 {
    width: calc(100% / 3 - 2%);
    margin-left: 1%;
    height: 500px;  
}
.table-row-titles h4 {
    width: calc(100% / 3);
    margin: 5px 5px;
}
.table-img {
    width: 100%;
}
.table-row p {
    padding-top: 5%;
    line-height: 150%;
}
.affiliate-teams-text {
    width: 50%;
}
.affiliate-teams-text h3{
    line-height: 150%;
    margin: 3% 0px;
}
.affiliate-teams-text a{
    color: #0061FF;
}
.affiliates-table{
    width: 100%;
}
.affiliates-coloumn {
    height: 100%;
    width: 30vw;
    height: 30vw;
    line-height: 30vh;
    text-align: center;
    vertical-align: middle;
}
.affiliates-coloumn2{
    background-color: #F5F5F5;
    height: 30vw;
    width: calc(100% - 60vw);
    overflow: auto;
}
.affiliates {
    width: 50%;
    height: 50%;
}
.white {
    filter: invert(100%);
}
.logo {
    max-width: 50%;
    vertical-align: middle;
}
.logo2 {
    width: 20%;
    transform: translate(50%, 100%);
}
.green {
    background-color: #A2D39B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #D0E9CD;
}
.pink{
    background-color: #61082B;
}
.lightblue {
    background-color: #0093CE;
}
.orange {
    background-color: #FF1C1C;
}
.red{
    background-color: #D5001F;
}
.aqua {
    background-color: #B4D0E7;
}
.blue {
    background-color: #0D2481;
}
.yellow{
    background-color: #FFD830;
}
.rule2 {
    height: 1px;
    width: 5%;
    background-color: #c4c4c4;
    margin: 12% 0 5% 10%;
}
.affiliates-coloumn2 p {
    width: 80%;
    margin: 5% auto;
    line-height: 150%;
}
.dropbox-business {
    background-color: #B4D0E7;
    width: 100%;
}
.dropbox-business h3 {
    font-size: 2.5rem;
    width: 40%;
    margin-left: 10%;
    padding: 5%;
    color: #61082b;
    display: inline-block;
}
.dropbox-business a {
    text-decoration: none;
    padding: 0.5% 3%;
    background-color: white;
    margin-right: 20%;
    margin-top: 6%;
    color: black;
}
.faq {
    margin-bottom: 7%;
}
.faq hr {
    margin: 3% 0;
}
.faq span{
    margin-left: 30%;
    font-size: 1.2rem;
}
.hover-content {
    display: none;
}
.question:hover .hover-content {
    display: block;
    padding: 5% 0;
}
.question:hover .arrow-down {
    transform: rotate(180deg);
}
.question a {
    color: black;
}
footer {
    width: 100%;
    background-color: black;
    height: 700px;
}
.footer-table {
    width: 80%;
    margin: 0 auto;
    transform: translate(0%, 30%);
    color: white;
}
.footer-coloumn {
    width: calc(100% / 5);
    height: 100%;
}
.footer-table h5 {
    margin: 10% 0;
}
.footer-table a {
    padding: 3% 0;
    display: block;
    text-decoration: none;
    color: white;
}
.rule3{
    color: lightgrey;
    width: 5%;
    height: 1px;
    border: 1px solid #494949;
    margin: 10% 10%;
}
.rule3 a{
    color: #303030;
    margin: 70% 0;
    text-decoration: none;
    display: block;
}
.rule3 a::after {
    content: "\25B2";
    font-size: 0.5rem;
    line-height: 10%;
    vertical-align: middle;
}
